<ion-modal-view view-title="消息" ng-controller="ChatDetailCtrl" id="userMessagesView">
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{chat.name}}</h1>

        <div class="buttons">
            <button class="button button-icon ion-ios-close-outline" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header has-footer">
        <ion-list>
            <!--class="item-remove-animate item-avatar"-->
            <ion-item ng-repeat="message in messages"
                      class="message-wrapper">
                <div ng-if="message.type === 'me'">
                    <img class="profile-pic right" ng-src="img/jerry-avatar1.jpeg"/>

                    <div class="chat-bubble right">
                        <div class="message" ng-bind-html="message.content | nl2br" autolinker>
                        </div>

                        <div class="message-detail">
                            <span class="bold">{{message.username}}</span> <span am-time-ago="message.date"></span>
                        </div>

                    </div>
                </div>
                <div ng-if="message.type === 'friend'">
                    <img class="profile-pic left" ng-src="img/jerry-avatar.jpeg"/>

                    <div class="chat-bubble left">
                        <div class="message" ng-bind-html="message.content | nl2br" autolinker>
                        </div>

                        <!--
                        <div class="message-detail">
                            <span class="bold">{{message.jid}}</span> <span am-time-ago="message.date"></span>
                        </div> -->

                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        <ion-footer-bar style="height: auto" class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper" style="height: 100%">
                <textarea style="width: 80%;" ng-model="input.message" value="" placeholder="此处可以输入很多话"
                          required minlength="1" maxlength="1500" msd-elastic="\n"></textarea>
            </label>

            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn"
                        type="submit"
                        ng-disabled="!input.message || input.message === ''">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-modal-view>
