<ion-view view-title="邻居">
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-href="#/addnewroster">
            <i class="ion-ios-plus-outline" style="color: #0c63ee"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="roster in rosters"
                      type="item-text-wrap"
                      ng-click="openChatDialog(roster)">
                <img ng-src="{{roster.avatar}}" style="border: #fff 2px solid">
                <span class="badge badge-assertive" ng-if="roster.unread > 0">{{roster.unread}}</span>

                <h2>{{roster.name}}</h2>

                <p>{{roster.jid}}</p>
                <ion-option-button class="button button-assertive" ng-click="removeSingleRoster(roster.jid)">删除
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
