<ion-view view-title="发现">
    <ion-nav-buttons side="left">
        <div class="button button-clear" ng-click="goback()">
            <i class="ion-arrow-left-c add-contact"></i>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="gotoNewPostPage()">
            <i class="ion-compose add-contact" style="margin-right: 10px"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="reloadSNS()" pulling-icon="ion-ios-paw-outline">
        </ion-refresher>
        <div class="list">
            <div class="card" ng-repeat="post in allPosts">
                <div class="item item-avatar">
                    <img src="{{post.avatar}}">

                    <h2>{{post.nickname}}</h2>

                    <p am-time-ago="post.createDate" class="time-ago" style="font-size: 0.7rem !important;"></p>
                </div>

                <div class="item item-body">
                    <div ng-bind-html="post.content | nl2br" autolinker>
                    </div>

                    <br>
                    <div ng-repeat="imageLocation in post.imageSrcList track by $index">
                        <img class="full-image" src="{{imageLocation}}" style="border-radius: 5px">
                    </div>

                    <p>
                        <a href="#" class="subdued">{{post.greetCount}} 赞</a>
                        <a href="#" class="subdued">{{post.commentsCount}} 评论</a>
                    </p>
                </div>


                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i>
                        赞
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-chatbox"></i>
                        评论
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-share"></i>
                        分享
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
